#grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 960px;
    max-height: auto;
    border: 2px solid black;
}


.grid-square {
    outline: 1px solid black;
    margin: 0px;
}

.grid-square:hover {
    background: #457638;
}